/* for Search */

.search-bar {
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* padding: 10px; */
  width: 50%;
}

.search-bar input {
  border: none;
  outline: none;
  color: black;
  flex: 1;
  padding: 5px 10px;
  border-radius: 5px;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.results-list{
  width: 50%;
  height: auto;
  background-color: white;
  display:  flex;
  flex-direction: column;
  color : black;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 2px;
  max-height: 150px;
  overflow-y: scroll;
}

.results-list::-webkit-scrollbar{
  width: 0;
}

.s_result{
  padding: 2px;
  cursor: pointer;
}

.s_result:hover{
  background-color: #fefefe;
}